.comments {
  position: relative;
  background-color: var(--dark-color);
  padding-top: 80px;
  padding-bottom: 150px;


  &__title {
    font-size: 44px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--light-color);
    margin-bottom: 70px;
  }

  &__swiper {
    width: 100%;
  }


  &__photo {
    width: 112px;
    height: 112px;
    top: 15px;
    border-radius: 50%;
  }

  &__text {
    font-family: var(--second-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding: 15px;
    padding-left: 160px;
    padding-right: 150px;
  }


  &__sign {
    display: inline-block;
    font-family: var(--second-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding-left: 160px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  &__btn {
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
  }

  &__btn-next,
  &__btn-prev {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;

    & svg {
      fill: var(--dark-color);
    }
  }

  &__btn-next svg {
    width: 18px;
    height: 11px;
  }

  &__btn-prev svg {
    width: 18px;
    height: 11px;
  }
}

.swiper-pagination {
  bottom: 50px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--light-color);
  opacity: 0.5;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 8px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
  opacity: 1;
}