.consultation {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: var(--light-color);

  &__container {
    min-height: 300px;
  }

  &__form {
    background-color: var(--dark-color);
    padding: 40px 30px;
  }

  &__form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    width: 40%;
  }

  &__input-container {
    display: flex;
    align-items: center;
  }

  &__form-label {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
  }

  &__form-input {
    display: block;
    height: 56px;
    width: 220px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    font-family: var(--second-family);
    color: var(--dark-color);

    &::placeholder {

      font-size: 16px;
      color: #999;
    }
  }

  &__form-btn {
    height: 56px;
    width: 22%;
    background-color: var(--first-color);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
}