.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: var(--dark-color);
  padding-bottom: 10px;


  &__container {
    padding-top: 10px;
    // padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__person {
    font-size: 24px;
    font-weight: 400;
    // color: #d7d7d7;
  }

  &__logo {
    display: block;
    margin-left: 150px;

    @include minidesk {
      margin-left: 50px;
    }

    & img {
      display: block;
      height: 80px;
    }
  }

  &__button {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--light-color);
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 4px;
  }

  &__phone {
    display: block;
    font-family: var(--second-family);
    font-weight: 400;
    color: inherit;
  }
}