.hero {
  position: relative;
  background-color: var(--dark-color);

  padding-top: 130px;
  padding-bottom: 86px;

  &__bg {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/gruppa.jpg');
    opacity: 0.25;
  }

  &__container {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // &__info {}

  &__photo {
    width: 75%;
  }

  &__title {
    width: 80%;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 40px;

    @include minidesk {
      font-size: 70px;
    }

    & span {
      display: block;
      font-family: var(--second-family);
      font-size: 16px;
      line-height: 120%;
      font-weight: 300;
      margin-bottom: 30px;
    }
  }

  &__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    width: 70%;
    margin-bottom: 50px;
  }

  &__sign {
    display: flex;
    gap: 3px;
    height: 62px;
    width: 70%;
  }

  &__sign-icon {
    width: 62px;
    height: 100%;
    background-color: #cf294b;
    background-image: url('../img/icon1.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px;
  }

  &__sign-btn {
    height: 100%;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #cf294b;
    color: var(--light-color);
    padding: 10px 25px;

    &:hover {
      background-color: var(--light-color);
      color: #cf294b;
    }
  }
}