<section class="comments">
  <div class="container comments__container">
    <h2 class="comments__title">Отзывы моих учеников</h2>
    <div class="swiper comments__swiper">
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide comments__swiper-slide">
          <img class="comments__photo" src="img/comment1.jpg" alt="фото участника">
          <p class="comments__text">
            Примерно год назад я начала заниматься со Светланой
            (до этого проходила онлайн-курсы итальянского),
            а сегодня я получила результаты экзамена PLIDA B2 с достаточно высокими баллами:
            ascoltare 22, leggere 28, parlare 25 e scrivere 27!
            Очень рада, что тогда, когда настало время выбирать преподавателя,
            я остановилась именно на Светлане: на уроках мы разбирали и грамматику, и аудирование,
            и разговорную речь, а также было много полезной лексики.
            Комплексный подход - это самое важное для меня, чтобы не только сдать экзамен,
            но и общаться с итальянцами в повседневной жизни.
            Благодарю своего учителя и советую всем заниматься со Светланой!
          </p>
          <span class="comments__sign">Юлия</span>
        </div>

        <div class="swiper-slide comments__swiper-slide">
          <img class="comments__photo" src="img/comment2.jpg" alt="фото участника">
          <p class="comments__text">
            Светлана - удивительный преподаватель. За год с нуля смогла так меня подтянуть п
            о итальянскому, что я блестяще сдала экзамен на летней сессии в университете. Следует отметить, что Светлана
            ещё и весьма гибкий специалист. Подстраивала программу, меняла учебники в зависимости от моего учебного
            курса в университете. Ей приходилось переобъяснять материал после непонятных объяснений в вузе, и делала она
            это великолепно. Уроки всегда были плодотворными и интересными. Я могла задать любой вопрос, отклоняясь от
            основной
            темы, и всегда получала объемлющий ответ. Когда же на экзамене
            я с лёгкостью получила «отлично» и осознала, что уроки итальянского подошли к концу,
            стало даже грустно. Главный талант Светланы - заразить ученика любовью к этому языку.
            Тогда и домашки выполняются с удовольствием, хочется читать, смотреть итальянское кино, слушать песни на
            итальянском языке. И что ещё важно, Светлана обладает знаниями глубже обычного репетитора. Моя специфика в
            университете- академический вокал. Светлана с лёгкостью переводила мои арии, которые были написаны в эпоху
            средневековья и включали обороты, оставшиеся с латыни.
            В общем минус только один, - когда придётся учить другой язык, подобного педагога найти нельзя…
          </p>
          <span class="comments__sign">Татьяна</span>
        </div>

        <div class="swiper-slide comments__swiper-slide">
          <img class="comments__photo" src="img/comment3.jpg" alt="фото участника">
          <p class="comments__text">
            Огромная благодарность Светлане !!!! Изучала итальянский год по урокам из интернета,
            но это не давало никаких результатов. Со Светой я изучаю итальянский два года,
            уроки информативные, очень интересные! Индивидуальный подход к каждому.
            Недавно ездила в Италию и почувствовала результат!!! Это волшебно!!!!
            Я говорила, понимала и самое главное меня тоже понимали!!! Конечно нет предела для совершенства. И это будет
            только со Светланой. Рекомендую всем, кто влюблен в Италию и итальянский язык!!!!!
            Светлана, большое спасибо!!!!
            Ты стираешь границы и общение с Италией превращается в огромное удовольствие!
          </p>
          <span class="comments__sign">Елена</span>
        </div>
      </div>
    </div>

  </div>

  <div class="comments__btn">
    <button class="btn-reset comments__btn-prev">
      <svg class="">
        <use xlink:href="img/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="btn-reset comments__btn-next">
      <svg class="">
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </button>
  </div>

</section>
