<section class="consultation">
  <div class="container consultation__container">
    <form action="#" class="consultation__form">
      <h2 class="consultation__title">Запишитесь на бесплатную консультацию</h2>
      <div class="consultation__form-container">
        <div class="consultation__input-container">
          <label class="consultation__form-label">
            Ваше имя
            <input type="text" name="name" class="input-reset consultation__form-input" placeholder="Ваше имя">
          </label>
          <label class="consultation__form-label">
            Ваш номер телефона
            <input type="tel" name="tel" class="input-reset consultation__form-input" placeholder="+7 (999) 999-99-99">
          </label>
          <label class="consultation__form-label">
            Ваш email
            <input type="email" name="email" class="input-reset consultation__form-input" placeholder="Не обязательно">
          </label>
        </div>
        <button class="btn-reset consultation__form-btn">Записаться</button>
      </div>
    </form>
  </div>
</section>