<section class="doing">
  <div class="container doing__container">
    <h2 class="doing__title">Как проходят <strong class="strong">занятия</strong></h2>

    <ul class="list-reset doing__doing-container">
      <li class="doing__item">
        <svg class="doing__icon">
          <use xlink:href="img/sprite.svg#doing1"></use>
        </svg>
        <h3 class="doing__item-title">Индивидуально и в группах</h3>
        <p class="doing__item-text">
          Выбирайте свой формат в зависимости от ваших задач. После вводного урока мы подберем с вами
          комфортную форму занятий согласно вашим целям и бюджету
        </p>
      </li>
      <li class="doing__item">
        <svg class="doing__icon">
          <use xlink:href="img/sprite.svg#doing2"></use>
        </svg>
        <h3 class="doing__item-title">Метод "Быстрого старта"</h3>
        <p class="doing__item-text">
          Я использую специальную авторскую методику. Она нацелена на максимально быстрый переход
          к говорению со стороны ученика.
          Мои студенты начинают разговаривать на итальянском с первого урока
        </p>
      </li>
      <li class="doing__item">
        <svg class="doing__icon">
          <use xlink:href="img/sprite.svg#doing4a"></use>
        </svg>
        <h3 class="doing__item-title">Онлайн-уроки</h3>
        <p class="doing__item-text">
          Занятия проходят в Zoom или Skype. Для того, чтобы занятия были для вас
          удобны и наглядны, я использую специальные сервисы и платформы.
          Вы сможете в удобной форме отрабатывать полученные знания,
          запоминать слова, тренировать разговорную речь
        </p>
      </li>
      <li class="doing__item">
        <svg class="doing__icon">
          <use xlink:href="img/sprite.svg#doing4"></use>
        </svg>
        <h3 class="doing__item-title">Поддержка 24/7</h3>
        <p class="doing__item-text">
          Я всегда на связи со своими учениками. Вне уроков мы общаемся в Telegram,
          я поддерживаю вас и даю обратную связь по любым вопросам.
          По желанию вы можете выполнять микроупражнения между уроками и практиковать язык
        </p>
      </li>
    </ul>
    <div class="doing__decor"></div>
  </div>
</section>