<section class="price">
  <div class="container price__container">
    <h2 class="price__title"><strong class="strong">Стоимость</strong> занятий</h2>
    <div class="price__content">
      <div class="price__type">Индивидуально</div>
      <ul class="price__description list-reset">
        <li class="price__description-element">— 8 занятий по 60 минут</li>
        <li class="price__description-element">— Самый эффективный формат занятий</li>
        <li class="price__description-element">— Выбираем интенсивность под ваши задачи</li>
      </ul>
      <div class="price__value">от 24 000 руб.</div>
    </div>
    <div class="price__content">
      <div class="price__type">Группы</div>
      <ul class="price__description list-reset">
        <li class="price__description-element">— 8 занятий по 60 минут</li>
        <li class="price__description-element">— Дешевле индивидуальных</li>
        <li class="price__description-element">— Возможность общаться с другими учениками на итальянском языке</li>
      </ul>
      <div class="price__value">от 12 000 руб.</div>
    </div>
  </div>
</section>