<section class="tasks">
  <div class="container tasks__container">
    <h2 class="tasks__title">Какие <strong class="strong">задачи</strong> я решаю</h2>

    <div class="tasks__tasks-container">
      <div class="tasks__item">
        <h3 class="tasks__item-title">
          Подготовка к сдаче международных экзаменов
        </h3>
        <p class="tasks__item-text">
          Мои ученики успешно сдают экзамены CELI, CILS, PLIDA и находят работу в Италии,
          поступают в университеты Рима, Перуджи, Болоньи и других городов
        </p>
      </div>
      <div class="tasks__item">
        <h3 class="tasks__item-title">
          Переезд в Италию без стресса
        </h3>
        <p class="tasks__item-text">
          Часто у меня занимаются семьями. Я помогаю всем членам семьи преодолеть страх перед переездом,
          погружением в среду носителей итальянского и получить от этого удовольствие
        </p>
      </div>
      <div class="tasks__item">
        <h3 class="tasks__item-title">
          Адаптация маленьких детей в школах Италии
        </h3>
        <p class="tasks__item-text">
          Помогаю маленьким ученикам освоиться в школе, заговорить на языке,
          найти друзей, не бояться с ними играть
        </p>
      </div>
    </div>
  </div>
</section>